# Download the gold bar price from Gold Traders Association

Our objective here is to download gold bar price from the website https://goldtraders.or.th/

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get("https://goldtraders.or.th/")

Check the status code. Starting with a 2 generally indicates success, and a code starting with a 4 or a 5 indicates an error

In [3]:
page.status_code

200

Use "Beautifulsoup" to parse our content

In [4]:
soup = BeautifulSoup(page.content, 'html.parser')

Find the table of price by id. Then use get_text to get buy and sell values

In [5]:
# Cut rich content to be only our interest table
price = soup.find(id="DetailPlace_uc_goldprices1_GoldPricesUpdatePanel")

# Then get the number text of buy and sell gold bar values
buy = price.find(id="DetailPlace_uc_goldprices1_lblBLBuy").get_text()
sell = price.find(id="DetailPlace_uc_goldprices1_lblBLSell").get_text()

Now we have both buy and sell value but in string. We have to change them to numeric. Before doing this we must remove the ',' first to prevent error.

In [6]:
# Remove ',' first
buy = buy.replace(',','')
sell = sell.replace(',','')

# Then convert to numeric
buy = pd.to_numeric(buy)
sell = pd.to_numeric(sell)

Cast them in to Series

In [7]:
buy = pd.Series(buy)
sell = pd.Series(sell)

In [8]:
gold_bar = pd.DataFrame({
        "buy": buy, 
        "sell": sell
    })

In [9]:
gold_bar

       buy     sell
0  19950.0  20050.0